* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Regular;
}

#main {
  width: 100%;
  height: 630vh;
  position: relative;
  background-color: #f1f1f1;
}

@font-face {
  font-family: Regular;
  src: url(/font/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: Semibold;
  src: url(/font/SourceSansPro-Semibold.ttf);
}

@font-face {
  font-family: Light;
  src: url(/font/SourceSansPro-Light.ttf);
}

/* Header */
.header {
  width: 100%;
  padding: 0.5rem 5rem;
  background-color: #fff;
  box-shadow: 0 2px 1px 1px rgba(78, 78, 78, 0.19);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header .frist {
  display: flex;
  align-items: center;
}

.frist img {
  width: 13%;
  object-fit: cover;
}

.frist .inputBox {
  background-color: #eeeeee;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputBox input {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

.inputBox i {
  font-weight: bold;
  color: #707070;
}

.linkContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 10rem;
}

.linkBox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.linkBox i {
  font-size: 20px;
  color: #707070;
}

.linkBox h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}

.linkBox .blod {
  font-weight: bold;
  color: #198cf7;
}

.profile_box {
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.profile_box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_box h4 {
  font-size: 0.9rem;
  color: #707070;
}

.profile {
  width: 20rem;
  height: 20rem;
  background-color: white;
  box-shadow: 0 5px 7px 5px #a9a9a939;
  position: fixed;
  top: 5rem;
  right: 3rem;
  opacity: 0;
  padding: 2rem 1rem;
  z-index: 99;
}

.profile.show {
  opacity: 1;
}

.profile .proText {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.proText img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.proText h2 {
  font-size: 1rem;
}

.proText p {
  font-size: 0.9rem;
  color: #707070;
  padding-top: 5px;
}

.profile button {
  width: 100%;
  padding: 0.5rem 2rem;
  background: none;
  outline: none;
  border-radius: 1rem;
  margin-top: 2rem;
  border: 2px solid #0095ff;
  color: #0095ff;
}

.profile button:hover {
  border: 2px solid #4eb5ff;
}

.profile h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

.profile h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #707070;
  padding-top: 0.7rem;
  transition: all 0.3s;
  cursor: pointer;
}

.profile h4:hover {
  color: black;
}

#moreIcone {
  display: none;
  cursor: pointer;
}

/* container */
.container {
  width: 100%;
  padding: 8rem 5rem;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.container .right {
  width: 25%;
  height: 100vh;
  position: relative;
}

.right .One {
  width: 100%;
  height: 50%;
  background-color: white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
}

.One img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.One .proCir {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  left: 1.5rem;
}

.One .proCir img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.One .name {
  padding: 3rem 1.5rem;
}

.name a {
  text-decoration: none;
}

.name h2 {
  font-size: 1rem;
  font-weight: bolder;
  color: black;
}

.name h2:hover {
  width: 107px;
  color: #4e4e4e;
  border-bottom: 2px solid #4e4e4e;
} 

.name h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #707070;
  padding-top: 5px;
}

.name .Views {
  padding-top: 1rem;
}

.Views .textNum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textNum h2 {
  color: #0095ff;
  padding: 5px 0;
}

.btns {
  width: 100%;
}

.btns button {
  width: 100%;
  padding: 1rem;
}

.container .last {
  width: 25%;
  height: 100vh;
  background-color: yellow;
}

.right .btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  border-top: 1px solid black;
}

.btns button {
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.btns button i {
  margin-right: 10px;
  color: #0095ff;
  font-weight: bold;
  font-size: 1.1rem;
}

.right .two {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.right .two {
  padding: 1rem 1.5rem;
}

.two h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.two h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  color: #707070;
}

.two h4:nth-of-type(2) {
  padding-top: 1rem;
}

.user h3 {
  padding-bottom: 10px;
  color: #707070;
  font-size: 1rem;
}

.user h3 i {
  padding-right: 5px;
  font-size: 1rem;
}

.user h3 i,
span {
  color: #0095ff;
  font-size: 1rem;
}

.user h3 span {
  font-size: 1rem;
  padding-right: 10px;
}

.two button {
  background: none;
  border: none;
  padding-top: 1rem;
  font-size: 1rem;
  color: #0095ff;
  font-weight: 600;
}

.container .center {
  width: 50%;
  height: 100vh;
  border-radius: 5px;
}

.center .upload {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  border-radius: 10px;
  overflow: hidden;
}

.upload .share {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 2rem;
}

.share img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.share span {
  color: #707070;
  font-weight: 500;
  font-size: 1.2rem;
}

.btnUpload {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  gap: 5px;
}

.btnUpload button {
  width: 100%;
  padding: 1rem 0;
  border: none;
  box-shadow: 0 1px 1px 2px #3737371f;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btnUpload button i {
  padding-right: 0.5rem;
  font-size: 1.1rem;
  color: #0095ff;
}

.btnUpload button:nth-of-type(4) {
  background-color: #0095ff;
  color: white;
}

.postContainer {
  width: 100%;
  display: flex; 
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
} 

.postContainer .post {
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  margin-top: 2rem;
  border-radius: 10px;
}

.post .top {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
}

.top .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top img {
  width: 8%;
}

.textpost span {
  color: #707070;
}

.post .imagesBox {
  width: 100%;
  padding: 1rem 0;
}

.imagesBox img {
  width: 100%;
  height: 40rem;
  border-radius: 5px;
  object-fit: cover;
}

.post .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom .icone {
  display: flex;
  align-items: center;
}

.bottom .icone i {
  font-size: 1.2rem;
  color: #0095ff;
}

.bottom .icone i:nth-of-type(2) {
  color: red;
}

.bottom .icone i:nth-of-type(3) {
  color: yellow;
}

.bottom .icone span {
  margin-left: 5px;
}

.like {
  width: 100%;
  background-color: white;
  border-top: 1px solid #d7d7d7;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like .iconeLink {
  margin-top: 15px;
  cursor: pointer;
  padding: 1rem 2rem;
}

.like .iconeLink:hover {
  background-color: #d1d1d1a9; 
  border-radius: 10px;
}

.iconeLink i {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #707070;
}

.iconeLink span {
  color: #707070;
  font-weight: 600;
}

.container .left {
  width: 25%;
  height: 50vh;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
}

.left .textTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textTop h2 {
  color: black;
  font-size: 1.3rem;
  font-size: Semibold;
}

.textTop span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  background-color: #a5a5a5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_text {
  padding-top: 1rem;
}

.left_text h2 {
  font-size: 1.1rem;
  color: #3b3b3b;
  padding: 2px 0;
}

.left_text span {
  color: #959595;
  font-size: 1.2rem;
}

.left button {
  background: none;
  border: none;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #0095ff;
  cursor: pointer;
}

.jods_you {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
}