@media screen and (max-width: 990px) {
  .header {
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .linkBox {
    display: inline;
    text-align: center;
  }

  .linkBox h3 {
    font-size: 0.9rem;
  }

  .profile_box {
    display: none;
  }

  .frist img {
    width: 20%;
  }

  #moreIcone {
    display: block;
    margin-left: 1rem;
  }

  .profile {
    position: absolute;
    top: 5rem;
    right: 1rem;
  }

  .left {
    display: none;
  }

  .container {
    padding: 8rem 3rem;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .frist .inputBox {
    padding: 0.5rem 0.8rem;
    gap: 0;
    background: none;
  }

  .inputBox input {
    display: none;
  }

  .frist img {
    width: 60px;
  }

  .linkContainer {
    margin-left: 10rem;
  }

  .profile_box {
    display: none;
  }

  .container {
    width: 100%;
    padding: 5rem 1rem;
    flex-direction: column;
  }

  .container .right {
    width: 100%;
  }

  .container .center {
    width: 100%;
    margin-top: 3rem;
  }

  .flex img {
    width: 3rem;
  }

  .textpost h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .frist img {
    width: 30%;
    object-fit: cover;
  }

  .linkBox h3 {
    display: none;
  }

  .linkBox i {
    font-size: 20px;
    color: #707070;
  }

  .linkContainer {
    margin-left: 3rem;
    gap: 1rem;
  }

  .profile {
    position: absolute;
    top: 3.5rem;
    right: 0.5rem;
  }

  .like {
    width: 100%;
  }

  .like .iconeLink {
    margin-top: 10px;
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  .iconeLink i {
    font-size: 1.2rem;
  }

  .iconeLink span {
    font-size: 15px;
  }

  .container {
    width: 100%;
    padding: 5rem 0.5rem;
    flex-direction: column;
  }

  .postContainer .post {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .center .upload {
    margin-top: 6rem;
  }

  .right .btns {
    gap: 5px;
  }

  .right .two {
    padding: 2.5rem 0.5rem;
  }

  .upload .share {
    padding: 1rem 0.8rem;
  }
}
