/* profileContainer */
.profileContainer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 4rem 8rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  font-family: Regular;
}

.right {
  width: 75%;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  border-radius: 10px;
}

.profile_text {
  width: 100%;
  height: 55vh;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.right .topImg {
  width: 100%;
  height: 10rem;
  position: relative;
}

.topImg img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.topImg .proImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 110px;
  left: 48px;
  overflow: hidden;
}

.proImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textPro {
  position: absolute;
  top: 18rem;
  padding: 3rem;
  z-index: 10;
}

.textPro h1 {
  font-size: 1.5rem;
  color: black;
}

.textPro h3 {
  font-size: 1.2rem;
  color: rgb(64, 64, 64);
  font-weight: 300;
}

.textPro h4 {
  font-size: 1rem;
  color: rgb(118, 118, 118);
  font-weight: 300;
  padding-top: 5px;
}

.textPro h4 span {
  font-weight: bold;
  font-size: 0.9rem;
}

.btnsPro {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btnsPro button {
  padding: 0.3rem 2.5rem;
  margin-top: 20px;
  border-radius: 2rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 200;
  font-family: Semibold;
  transition: all 0.2s;
  border: 3px solid #198cf7;
  background-color: white;
  color: #198cf7;
}

.btnsPro button:nth-of-type(1) {
  background-color: #198cf7;
  color: white;
}

.btnsPro button:nth-of-type(1):hover {
  background-color: #037beb;
}

.btnsPro button:hover {
  border: 3px solid #000000;
  background-color: #037beb27;
}

.analytics {
  width: 100%;
  padding: 2rem 1rem;
  background-color:white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  margin-top: 2rem;
  border-radius: 10px;
}

.analytics h1 {
  font-size: 1rem;
  padding: 3px 0;
}

.analytics span {
  color: #4d4d4d;
  font-size: 1rem;
}

.analytics span i {
  margin-right: 5px;
  font-weight: bold;
}

.proViwe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.proOne span {
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
}

.proOne p {
  font-size: 1rem;
  color: #525252;
  padding-top: 5px;
}

.activityPro {
  width: 100%;
  padding: 2rem 1rem;
  background-color: white;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  margin-top: 2rem;
  border-radius: 10px;
}

.activityPro .toppro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toppro .follow h2 {
  font-size: 1.2rem;
  padding: 3px 0;
}

.toppro .follow span {
  font-size: 0.9rem;
  color: #037beb;
  font-weight: bold;
}

.toppro button {
  padding: 0.5rem 1.5rem;
  background: none;
  outline: none;
  border-radius: 2rem;
  border: 2px #037beb solid;
  font-weight: bold;
  color: #037beb;
  cursor: pointer;
  transition: all 0.4s;
}

.toppro button:hover {
  background-color: #198cf737;
  border: 2px #000000 solid;
}

.btnsbg {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btnsbg button {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
  color: #037beb;
  background: none;
  transition: all 0.3s;
}

.btnsbg button:nth-of-type(1) {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.btnsbg button:nth-of-type(1):hover {
  background-color: rgb(5, 87, 5);
}

.btnsbg button:hover {
  background-color: rgba(128, 128, 128, 0.206);
}

.postpro {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.uppost h4 {
  color: rgb(63, 63, 63);
  font-weight: 500;
  font-size: 0.9rem;
}

.uppost h4 span {
  color: rgb(101, 101, 101);
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 5px;
}

.postImg {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.postImg img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.postImg .profile_text {
  font-size: 1rem;
  color: black;
}


.left {
  width: 25%;
  height: 100vh;
  background-color: rebeccapurple;
  box-shadow: 0 0 3px 2px #cdcdcd1d;
  border-radius: 10px;
}
